@model CreditData

@{
    ViewData["Title"] = "Расчет платежей по кредиту";
}
<script>
    commission = @Model.UseCommission;
</script>

<div align="center" ng-app>
    <div class="card">
        <h1>@ViewData["Title"]</h1>
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="Credit" method="post">
            <table>
                <tr><td><label asp-for="Amount">Сумма кредита</label></td><td><input asp-for="Amount"></td></tr>
                <tr><td><label asp-for="Percent">Процентная ставка(годовых)</label></td><td><input asp-for="Percent"></td></tr>
                <tr><td><input ng-model="commission" asp-for="UseCommission" /><label>Использовать месячную комиссию</label></td><td></td></tr>
                <tr><td><label ng-show="commission" asp-for="MontlyCommission">Сумма месячной комиссии</label></td><td><input ng-show="commission" asp-for="MontlyCommission" /></td></tr>
                <tr><td><label asp-for="Period">Срок в месяцах</label></td><td><input asp-for="Period"></td></tr>
            </table>
            <br />
            <p><button type="submit">Расчитать платежи</button></p>
        </form>
    </div>
    <br />
    @if (Model.Result != null)
    {
        <div class="card">
            <h1>Список месячных платежей</h1>
            @{ decimal fullInc = 0; }
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Платеж №</th>
                        <th>Тело кредита</th>
                        <th>Проценты</th>
                        <th>Комиссия</th>
                        <th>Сумма платежа</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.Result)
                    {
                        fullInc += row.Percent;
                        fullInc += row.Commission;
                        <tr>
                            <td class="text-center">@row.Payment</td>
                            <td class="text-center">@row.LoanBalance.ToString("f2")</td>
                            <td class="text-center">@row.Percent.ToString("f2")</td>
                            <td class="text-center">@row.Commission.ToString("f2")</td>
                            <td class="text-center">@row.PayAmount.ToString("f2")</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="text-right">Всего переплата: @fullInc.ToString("f2")</div>
        </div>
    }
</div>
